@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.aside {
  &__subtittle {
    font-family: $font-family-heading;
    font-weight: $font-weight-normal;
    font-size: var(--font-size-2xl);
    line-height: var(--line-height-xl);
  }
  
  &__item {
    font-weight: $font-weight-semibold;
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
  }
}
