.breadcrumbs {
  &__tittle {
    font-family: $font-family-heading;
    font-size: var(--font-size-6xl);
    line-height: var(--line-height-5xl);
    letter-spacing: -0.5px;
    color: var(--homepage-text-color);
  
    &--action {
      text-align: center;
    }
  }

  &__menu {
    display: flex;
    justify-content: center;
  }

  &__unit {
    font-weight: $font-weight-semibold;
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    color: var(--homepage-text-color);
  }

  &__highlight {
    &--text {
      color: #E7EEF7A8;
    }
  }
}