@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.sidebar {
    &__form-wrapper {
        display: grid;
        grid-template-columns: 320px;
        gap: 21px;
    }
    &__brand-title,
    &__color-title,
    &__part-title,
    &__special-title {
    font-family: 'Bakbak One', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    }
    &__divider {
        width: 94%;
        color: var(--link-border-color);
        margin: 10px auto;
    }
    &__fieldset {
        background: #1D1C28;
        padding: 24px;
        border: transparent;
    }
    &__checkbox:checked+label:before {
        content: "";
        width: 16px;
        height: 16px;
        border-width: 2px;
        border-radius: 4px;
        background: var(--button-bg-color);
        border: 2px solid #D4D9F242;
        display: block;
    }
    &__checkbox:not(:checked)+label:before {
        content: "";
        width: 16px;
        height: 16px;
        border-width: 2px;
        border-radius: 4px;
        background: var(--main-bg-color);
        border: 2px solid #D4D9F242;
        display: block;
    }
    &__radio:checked+label:before {
        content: "";
        width: 16px;
        height: 16px;
        border-width: 2px;
        border-radius: 50%;
        background: var(--button-bg-color);
        border: 2px solid #D4D9F242;
        display: block;
    }

    &__radio:not(:checked)+label:before {
        content: "";
        width: 16px;
        height: 16px;
        border-width: 2px;
        border-radius: 50%;
        background: var(--main-bg-color);
        border: 2px solid #D4D9F242;
        display: block;
    }
}