@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.company {
  &__description {
    font-weight: $font-weight-medium;
    font-size: var(--font-size-xl);
    line-height: var(--line-height-lg);
  }
  &__menu {
    display: flex;
    gap: 32px;
  }

  &__tittle {
    font-family: $font-family-heading;
    font-weight: $font-weight-normal;
    @include large-centered-title;
  }

  &__subtittle {
    font-size: var(--font-size-2xl);
    line-height: var(--line-height-xl);
    margin-bottom: 24px;
  }

  &__item {
    background-color: var(--secondary-bg-color);
    width: 376px;
    height: 234px;
    padding: 32px;
    position: relative;
  }
  &__icon {
    width: 70px;
    height: 50px;
    opacity: 0.5;
    border-width: 2px;
    position: absolute;
    top: 10px;
  }

  &__action {
    @include centered-action-button;
  }
}
