@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.employees {
    display: flex;
    flex-direction: column;
    width: 1728px;
    height: 888px;
    gap: 40px;
    padding: 64px;
  &__tittle {
    font-family: $font-family-heading;
    font-weight: $font-weight-normal;
    @include large-centered-title;
  }

  &__list {
    display: flex;
    max-width: 1600px;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    background-color: var(--secondary-bg-color);
    padding: 32px;
    width: 293px;
    height: 316px;
  }
  &__item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  &__social {
    display: flex;
    gap: 8px;
  }
  &__social-icon {
   &:hover {
     background-color:  #BFC5EE1F;
    }
    &:focus {
     border: 4px solid  #3892F3;
    }
  }

  &__name {
    font-size: var(--font-size-2xl);
    line-height: var(--line-height-xl);
    text-align: center;
    text-transform: capitalize;
  }
}
