@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.product {
  &__tittle {
    font-family: $font-family-heading;
    font-weight: $font-weight-normal;
    font-size: var(--font-size-2xl);
    line-height: var(--line-height-xl);
  }
  &__tittle-wrapper {
   display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__divider-container {
    align-content: center;
    width: 1000px;
  }
  &__button-wrapper {
    display: flex;
    gap: 16px;
  }
  &__line {
    align-content: center;
    width: 2px;
    border-radius: 2px;
    color: #D0D7FB2B;
  }

  &__button {
    &--color {
      color: $main-bg-color;
    }
  }

  &__item {
    background-color: var(--secondary-bg-color);
  }

  &__label {
    @include product-label-style;
    height: 31px;
    width: 20px;
    padding: 8px 10px;

    &--sold-out {
      background-color: var(--label-modifier-color);
      color: var(--label-primary-color);
    }
  }

  &__price {
    font-family: $font-family-heading;
    font-weight: $font-weight-normal;
    font-size: var(--font-size-4xl);
    line-height: var(--line-height-3xl);
  }

  &__description {
    font-weight: $font-weight-medium;
    font-size: var(--font-size-xl);
  }
}
