.product {
  &__tittle {
    font-family: $font-family-heading;
    font-weight: $font-weight-normal;
    font-size: var(--font-size-2xl);
    line-height: var(--line-height-xl);
  }
  
  &__button {
    &--color {
      color: $main-bg-color;
    }
  }
  
  &__item {
    background-color: var(--secondary-bg-color);
  }
  
  &__label {
    @include product-label-style;
    
    &--background {
      background-color: var(--label-modifier-color);
      color: var(--label-primary-color);
    }
  }
  
  &__price {
    font-family: $font-family-heading;
    font-weight: $font-weight-normal;
    font-size: var(--font-size-4xl);
    line-height: var(--line-height-3xl);
  }
  
  &__description {
    font-weight: $font-weight-medium;
    font-size: var(--font-size-xl);
  }
}