<!DOCTYPE html>
<html lang="en">
	{% include "src/templates/partials/head.twig" %}
	<body>

		{% include "src/templates/partials/layout-header.twig" %}
		<main>
			{% block content %}{% endblock %}
		</main>
		{% include "src/templates/partials/layout-footer.twig" %}

	</body>

</html>


{# make it work  #}
